blinker
eventlet
werkzeug==0.15.5
Flask==1.1.1
Flask-Bootstrap
Flask-DotEnv
Flask-Login
Flask-Migrate
Flask-Script
Flask-Session
Flask-SocketIO
Flask-SQLAlchemy
Flask-Testing
Flask-WTF
filetype
cachetools
mysqlclient>=1.4.2
