{% extends "shell_like.html" %}
{% import "bootstrap/utils.html" as utils %}
{% import "links.html" as links %}
{% import "scripting.html" as scripting %}

{% block styles -%}
{{ super() }}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/filepond@4.5.0/dist/filepond.min.css" />
{%- endblock %}

{% block banner %}{{ g.available_vars.banner_string }}{% endblock %}

{% block flashblock -%}
  {% set flashies = get_flashed_messages(with_categories=True) -%}
  {%- if flashies|length() > 0 %}
  <div class="fl-row">
      {{ utils.flashed_messages(messages=flashies) }}
  </div>
  {% endif -%}
{%- endblock %}

{% block location_element -%}
    {%- set wai_length = whereami|length() %}
    <h4 data-strlen="{{ wai_length }}">{{ whereami }}</h4>
{%- endblock %}

{% block commands -%}
    <li>
        <a id="buttonUp" class="btn btn-primary" href="#" role="button" title="Go Up...">
            &#x2191;
        </a>
    </li>
    <li>
        <a id="buttonRoot" class="btn btn-primary" href="#" role="button" title="Return to Root...">
            &#x2020;
        </a>
    </li>
    <li>
        <a class="btn btn-primary fl-settings" href="#" role="button" title="Settings..." data-toggle="modal" data-target="#settingsModal">
            <img src="{{ url_for('static', filename='flfm_settings.gif') }}" />
        </a>
    </li>
    <li>
        <a class="btn btn-primary" id="buttonUpload" href="#" role="button" title="Upload File..." data-toggle="modal" data-target="#uploadModal">
            Upload
        </a>
    </li>
{%- endblock %}

{% block contents -%}
    {%- if folder_contents|length() != 0 %}
    <table class="directory-list">
    <thead>
        <tr>
            <th id="header-contents" colspan="2">Contents</th>
            <th id="header-size" colspan="1">Size <i>(in bytes)</i></th>
            {% if the_cur_user() -%}
              {% if the_cur_user().is_authenticated -%}
                {% if not the_cur_user().is_admin -%}
                  {% if cwd_mapping.is_in_tree(the_cur_user().home_folder) -%}
                  <th id="header-actions" colspan="2">Actions</th>
                  {%- endif %}
                {%- else -%}
                <th id="header-actions" colspan="2">Actions</th>
                {%- endif %}
              {%- endif %}
            {%- endif %}
        </tr>
    </thead>
    <tbody>
    {%- for content in folder_contents %}
      <tr>
          <td>
          {%- if content.file %}
          <img src="{{ url_for('static', filename='flfm_file.gif') }}"
              alt="File" title="File" />
          {% elif content.directory %}
          <img src="{{ url_for('static', filename='flfm_folder.gif') }}"
              alt="Directory" title="Directory" />
          {% endif -%}
          </td>
          <td>
              {%- if content.directory %}
                  {% set paragraph_caption -%}
                      <p>{{ content.name }}</p>
                  {%- endset %}
                  {{ links.shell_path_link('shell.shell_view', content.uri_path, paragraph_caption, False) }}
              {%- else -%}
                  {% set paragraph_caption -%}
                      <p>{{ content.name }}</p>
                  {%- endset %}
                  {{ links.shell_file_link('shell.serve_file', content.path, paragraph_caption) }}
              {% endif -%}
          </td>
          <td>
              <p>{{ content.size }}</p>
          </td>
          {% if the_cur_user() -%}
            {% if the_cur_user().is_authenticated -%}
              {% if not the_cur_user().is_admin -%}
                {% if cwd_mapping.is_in_tree(the_cur_user().home_folder) -%}
                <td>
                    <a class="action-button delete-action" href="#" role="button" title="Delete" data-deletewhat="{{ content.path }}" data-toggle="modal" data-target="#deleteConfirmModal">
                        <img src="{{ url_for('static', filename='flfm_delete.gif') }}" alt="Delete" />
                    </a>
                </td>
                <td>
                    <a class="action-button rename-action" href="#" role="button" title="Rename" data-renamewhat="{{ content.path }}" data-toggle="modal" data-target="#renameModal">
                        <img src="{{ url_for('static', filename='flfm_rename.gif') }}" alt="Rename" />
                    </a>
                </td>
                {%- endif %}
              {%- else -%}
              <td>
                  <a class="action-button delete-action" href="#" role="button" title="Delete" data-deletewhat="{{ content.path }}" data-toggle="modal" data-target="#deleteConfirmModal">
                      <img src="{{ url_for('static', filename='flfm_delete.gif') }}" alt="Delete" />
                  </a>
              </td>
              <td>
                  <a class="action-button rename-action" href="#" role="button" title="Rename" data-renamewhat="{{ content.path }}" data-toggle="modal" data-target="#renameModal">
                      <img src="{{ url_for('static', filename='flfm_rename.gif') }}" alt="Rename" />
                  </a>
              </td>
              {%- endif %}
            {%- endif %}
          {%- endif %}
      </tr>
    {% endfor -%}
    </tbody>
    </table>
    {%- else %}
    <p class="nothing-here">There's nothing here...</p>
    {% endif -%}
{%- endblock %}

{% block modals -%}
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadModalLabel">Upload File</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="uploadModalAlerts">
                </div>
                <input type="file" class="filepond" name="filepond" data-max-files="1" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
                <button type="button" id="uploadModalFinishButton" class="btn btn-primary" data-dismiss="modal">Finish</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <img src="{{ url_for('static', filename='flfm_settings.gif') }}" />
                    <h5 class="modal-title">Settings</h5>
                </div>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Built-in Viewer:</h5>
                <p>Whether or not you wish to enable the built-in viewer for
                    files.
                    <a href="#" title="Supported Files: Text Files, Image Files, Video Files">
                        <img src="{{ url_for('static', filename='flfm_tinyhelp.gif') }}" />
                    </a>
                </p>
                <form id="settingsModalForm-1">
                    <input type="radio" name="viewer" id="viewerDisabled" value="disabled" />
                    <label for="viewerDisabled">Disabled</label>
                    <br/>
                    <input type="radio" name="viewer" id="viewerEnabled" value="enabled" />
                    <label for="viewerEnabled">Enabled</label>
                </form>
                <br/>
                <h5>Slideshow Settings:</h5>
                <p>Slideshow functionality is a feature of the built-in viewer.
                    These are variables you can tweak to alter its behavior.
                </p>
                <form id="settingsModalForm-2">
                    <input type="text" name="delay" id="slideshowDelay" maxlength="7" />
                    <label for="slideshowDelay">Slideshow Delay (in ms)</label>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
                <button type="button" id="settingsModalApplyButton" class="btn btn-primary" data-dismiss="modal">Apply</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmModalLabel">Confirm Delete: </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="deleteConfirmModal-Data">
                    <!-- variable storage for js -->
                </form>
                <p id="deleteConfirmModalMSG">Are you sure want to delete </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
                <button type="button" id="deleteConfirmModalDeleteButton" class="btn btn-danger" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="renameModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="renameModalLabel">Rename: </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="renameModal-Data">
                    <!-- variable storage for js -->
                </form>
                <form id="renameModal-Widgets">
                    <label for="renameNewName">Enter New File Name:</label>
                    <input type="text" id="renameNewName" name="newname" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
                <button type="button" id="renameModalRenameButton" class="btn btn-primary" data-dismiss="modal">Rename File</button>
            </div>
        </div>
    </div>
</div>
{%- endblock %}

{% block scripts -%}
{{ super() }}
{{ scripting.declare_string_var('flfm_root', g.available_vars.app_root) }}
{{ scripting.declare_literal_var('uploads_allowed', cwd_mapping.dir_allowuploads) }}
{{ scripting.declare_string_var('upload_where', whereami) }}
{%- if cwd_mapping.dir_allowuploads %}
<script src="//cdn.jsdelivr.net/npm/filepond@4.5.0/dist/filepond.min.js"></script>
<script src="{{ url_for('static', filename='flfm_shell.js') }}"></script>
{%- else -%}
<script src="{{ url_for('static', filename='flfm_shell.js') }}"></script>
{% endif -%}
{%- endblock %}
