{% macro create_user_bar() -%}
    <header class="user-bar">
        <div>
            <div class="welcome-user">
                <h5>Welcome, <i>Guest</i></h5>
            </div>
            <div class="user-actions">
                <a class="btn btn-primary" href="#" role="button" title="Login">
                    Login
                </a>
                <a class="btn btn-info" href="#" role="button" title="Register">
                    Register
                </a>
            </div>
        </div>
    </header>
{%- endmacro %}
