{% macro shell_path_link(shell_view, full_path, caption, fix=True) -%}
{% if fix -%}
    {%- set half_fixed_path = full_path|replace('/',' ',1) %}
    {% set fixed_path = half_fixed_path|trim() -%}
    <a href="{{ url_for(shell_view, view_path=fixed_path) }}">
        {{ caption }}
    </a>
{%- else %}
    <a href="{{ url_for(shell_view, view_path=full_path) }}">{{ caption }}</a>
{%- endif %}
{% endmacro -%}

{% macro shell_file_link(shell_view, file_path, caption, force_dl=False) -%}
    {%- set urlified_path = file_path|e|urlencode() %}
    {%- set file_url = url_for(shell_view) %}
    {% if force_dl -%}
        <a href="{{ [file_url, '?f=', urlified_path, '&dl=1']|join }}">
            {{ caption }}
        </a>
    {%- else -%}
        <a href="{{ [file_url, '?f=', urlified_path]|join }}">
            {{ caption }}
        </a>
    {%- endif %}
{% endmacro -%}

{% macro shell_file_raw_link(shell_view, file_path, force_dl=False) -%}
    {%- set urlified_path = file_path|e|urlencode() %}
    {%- set file_url = url_for(shell_view) %}
    {% if force_dl -%}
        {{ [file_url, '?f=', urlified_path, '&dl=1']|join }}
    {%- else -%}
        {{ [file_url, '?f=', urlified_path]|join }}
    {%- endif %}
{% endmacro -%}
