{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% import "links.html" as links %}
{% import "misc.html" as misc %}
{% import "scripting.html" as script %}

{% block metas -%}
    <meta charset="utf-8" />
    {{ super() }}
{%- endblock %}

{% block body -%}
<div id="layout">
 <div class="container">
  <div class="fl-row">
      <div class="card full-card clear-card j-center">
          <h1>{{ g.available_vars.banner_string }}</h1>
      </div>
  </div>
  {% set flashies = get_flashed_messages(with_categories=True) -%}
  {%- if flashies|length() > 0 %}
  <div class="fl-row">
      {{ utils.flashed_messages(messages=flashies) }}
  </div>
  {% endif -%}
  <div class="fl-row">
      <div id="location-bar" class="card full-card card-shadow j-center">
          {%- set cf_length = current_file|length() %}
          <h4 data-strlen="{{ cf_length }}">{{ current_file }}</h4>
          <div id="commands">
              <ul>
                  <li>
                      <span class="btn btn-primary" title="Return to Directory..." role="button">
                          {{ links.shell_path_link('shell.shell_view', current_dir, '←') }}
                      </span>
                  </li>
                  <li>
                      <span class="btn btn-primary" title="Download File..." role="button">
                          {{ links.shell_file_link('shell.serve_file', current_file, 'Download', True) }}
                      </span>
                  </li>
              </ul>
          </div>
      </div>
  </div>
  <div class="fl-row">
      <div class="card full-card card-shadow j-center">
          {% call misc.find_mimetype_part(mimetype, 'text') -%}
            {% if was_cacheable -%}
                <pre id="viewer-contents">{{ current_contents.read_contents(decode_as='utf-8') }}</pre>
            {% else -%}
                <pre id="viewer-contents">Loading. This may take a while...</pre>
            {%- endif %}
            {{ script.declare_string_var('viewer_type', 'text') }}
            {{ script.declare_literal_var('viewer_srv_cache', was_cacheable) }}
            {{ script.declare_literal_var('image_url', 'null') }}
          {%- endcall %}
          {% call misc.find_mimetype_part(mimetype, 'image') -%}
            <div id="viewer-contents">
                {% if was_cacheable -%}
                    {% if cache_id != -1 -%}
                        <img class="viewer-image" alt="{{ current_file }}" src="{{ [url_for('viewer.fetch', cacheid=cache_id), '?mimetype=', mimetype]|join }}"/>
                    {% else -%}
                        <img class="viewer-image" alt="{{ current_file }}" />
                        {%- set was_cacheable = False %}
                    {%- endif %}
                {%- else -%}
                    <img class="viewer-image" alt="{{ current_file }}" />
                {%- endif %}
                <div class="viewer-image-controls">
                    <a href="#viewer-contents" id="previous-file" title="Previous Image...">
                        <img src="{{ url_for('static', filename='flfm_rewind.gif') }}" />
                    </a>
                    <a href="#viewer-contents" id="play-files" title="Play Slideshow...">
                        <img src="{{ url_for('static', filename='flfm_play.gif') }}" />
                    </a>
                    <a href="#viewer-contents" id="stop-files" title="Stop Slideshow..." class="hidden invisible">
                        <img src="{{ url_for('static', filename='flfm_stop.gif') }}" />
                    </a>
                    <a href="#viewer-contents" id="next-file" title="Next Image...">
                        <img src="{{ url_for('static', filename='flfm_fastfw.gif') }}" />
                    </a>
                </div>
            </div>
            {{ script.declare_string_var('viewer_type', 'image') }}
            {{ script.declare_literal_var('viewer_srv_cache', was_cacheable) }}
            <script type="text/javascript">
                var image_url = `{{ links.shell_file_raw_link('shell.serve_file', current_file, True) }}`;
            </script>
          {%- endcall %}
      </div>
  </div>
 </div>
</div>
{{ super() }}
{%- endblock %}

{% block scripts -%}
{{ super() }}
{{ script.declare_string_var('flfm_root', g.available_vars.app_root) }}
{{ script.declare_string_var('viewer_current_file', current_file) }}
{{ script.declare_string_var('current_dir', current_dir) }}
{{ script.declare_string_var('serve_url', url_for('shell.serve_file')) }}
<script src="{{ url_for('static', filename='flfm_viewer.js') }}"></script>
{%- endblock %}
